extends ../../layoutFore

block style
    style.
        body{ background: #f0f4fd; width: 100%; height: 100%; margin:0;padding: 0}
        a{ text-decoration: none !important;color: #8895b5; font-size: 18px;}
        .nav-list{margin-top: 30px}
        .nav-list .thumbnail{padding:15px 25px;border-radius: 0;background: #fff no-repeat 90% bottom;}
        .nav-list a .tit{font-size: 30px}
        .nav-list a span{ display: block;}

block content
    .container
        .row
            h2 项目导航
        .row
            ul.nav-list.list-unstyled.clearfix
                each item in manage
                    li.col-sm-6.col-lg-4
                        .thumbnail(style=item.image ? "background-image:url(#{item.image})" : "")
                            a(href="#{item.link}")
                                .tit #{item.projectName}
                                span #{item.describeCn}
                                span #{item.describeEn}
