extends ../../../layout/admin

block style
    style.
        .list-group-item span {
            display: none
        }

        .list-group-item.active span {
            display: inline-block;
        }

block content
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading  #{title}
                .panel-body
                    .row
                        .col-sm-12.col-md-3.col-lg-2
                            .list-group
                                a.list-group-item(href='/admin/enterpriseSite/news',class=classifyId ? '' : 'active')
                                    | 全部
                                    span.badge 0
                                for item in classify
                                    a.list-group-item(href='/admin/enterpriseSite/news?classify=#{item.id}',class=classifyId == item.id ? 'active' : '')
                                        | #{item.name}
                                        span.badge 0
                                a.list-group-item(href='###',data-toggle="modal",data-target="#modifyModal",data-title="添加分类",data-body="addClassify")
                                    i.fa.fa-plus
                                        | &nbsp;添加分类

                        .col-sm-12.col-md-9.col-lg-10
                            .panel.panel-default
                                .panel-heading
                                    span.panel-title 全部&nbsp;&nbsp;
                                    a(href='###',data-toggle="modal",data-target="#modifyModal",data-title="重命名分类",data-body="addClassify") 重命名
                                    | &nbsp;&nbsp;
                                    a(href='javascript:;') 删除
                                .panel-body
                                    .table-responsive
                                        table.table.table-hover.table-striped
                                            thead
                                                tr
                                                    th 标题
                                                    th 来源
                                                    th 发布日期
                                                    th 作者
                                                    th 面浏览
                                                    th 显示
                                                    th 操作
                                                    th 操作
                                            tbody
                                                tr
                                                    td
                                                        a(href="#",target="_blank") 123123
                                                    td 杭州筑宝建材有限公司
                                                    td 2015-12-10
                                                    td admin
                                                    td 12
                                                    td ×
                                                    td
                                                        a(href="#") 修改
                                                    td
                                                        a(href="#") 删除
                                                tr
                                                    td
                                                        a(href="#",target="_blank") 123123
                                                    td 杭州筑宝建材有限公司
                                                    td 2015-12-10
                                                    td admin
                                                    td 12
                                                    td ×
                                                    td
                                                        a(href="#") 修改
                                                    td
                                                        a(href="#") 删除
                                                tr
                                                    td
                                                        a(href="#",target="_blank") 123123
                                                    td 杭州筑宝建材有限公司
                                                    td 2015-12-10
                                                    td admin
                                                    td 12
                                                    td x
                                                    td
                                                        a(href="#") 修改
                                                    td
                                                        a(href="#") 删除

                                    .row.text-left
                                        .col-sm-12
                                            a.btn.btn-primary(href="/admin/enterpriseSite/news/add") 添加

    #modifyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modifyModalLabel')
        .modal-dialog(role='document')
            form(method="POST",action="/admin/enterpriseSite/news/classifyName")
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#modifyModalLabel.modal-title
                    #addClassify.modal-body.hidden
                        input(type="hidden",name="classify[_id]",value="#{classify._id}")
                        input(type="hidden",name="classifyParent",value="#{classify.parent}")
                        .form-group
                            label.control-label(for='recipient-name') 分类名:
                            input#recipient-name.form-control(type='text',name='classify[name]')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Submit

block script
    script.
        require(['page/enterpriseSite/newsList']);