doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title #{title}
        link(href="/libs/bootstrap/dist/css/bootstrap.css",rel="stylesheet")
        style.
            body{ background: #f0f4fd; width: 100%; height: 100%; margin:0;padding: 0}
            a{ text-decoration: none !important;color: #8895b5; font-size: 18px;}
            .nav-list{margin-top: 30px}
            .nav-list .thumbnail{padding:15px 25px;border-radius: 0;background: #fff no-repeat 90% bottom;}
            .nav-list a .tit{font-size: 30px}
            .nav-list a span{ display: block;}
    body
        .container
            .row
                h2 项目导航
            .row
                ul.nav-list.list-unstyled.clearfix
                    each item in manage
                        li.col-sm-6.col-lg-4
                            .thumbnail(style=item.image ? "background-image:url(#{item.image})" : "")
                                a(href="#{item.link}")
                                    .tit #{item.projectName}
                                    span #{item.describeCn}
                                    span #{item.describeEn}
        script(src="/libs/jquery/dist/jquery.min.js")
        script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
        script(src="/libs/requirejs/require.js")
        script(src="/scripts/module/require-config.js")