extends ../../layout/admin

block breadcrumb
    ol.breadcrumb
        li
            a(href="/admin")
                i.fa.fa-home.fa-lg(style="margin-right:5px")
                | Home
        li.active 系统总览

block content
    .row
        .col-md-12
            .box
                .box-header.with-border 登录信息
                .box-body
                    .row
                        .col-md-4 本次登录IP：#{loginInfo.currentIp}
                        .col-md-4 上次登录IP：#{loginInfo.lastIp}
                        .col-md-4 上次登录时间：#{moment(loginInfo.lastTime).format('YYYY/MM/DD HH:mm:ss')}
    .row
        .col-md-12
            .box
                .box-header.with-border 站点信息
                .box-body
                    .row
                        .col-md-4 站点名称：#{siteInfo.siteName}
                        .col-md-4 公司名称：#{siteInfo.companyName}
                        .col-md-4 网站域名：#{siteInfo.domain}
                        .col-md-4 安装目录：#{siteInfo.installPath}
                        .col-md-4 网站管理目录：#{siteInfo.managePath}
                        .col-md-4 附件上传目录：#{siteInfo.attachmentPath}
                        .col-md-4 服务器名称：#{siteInfo.hostname}
                        .col-md-4 服务器IP：#{siteInfo.ip}
                        .col-md-4 操作系统：#{siteInfo.type}
                        .col-md-4 系统版本：#{siteInfo.release}


block script
    script.
        require(["page/index"]);