extends ../../layoutAdmin

block content
    .row
        .col-sm-12
            .table-responsive
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th 项目名
                            th 中文描述
                            th 英文描述
                            th 超链接
                            th 图片
                            th 排序编号
                            th 查看
                            th 更新
                            th 删除
                    tbody
                        each item in manage
                            tr(class="item-id-#{item._id}")
                                td #{item.projectName}
                                td #{item.describeCn}
                                td #{item.describeEn}
                                td #{item.link}
                                td #{item.image}
                                td #{item.orderBy}
                                td: a(target="_blank",href="#{item.link}") 查看
                                td: a(href="../admin/manageNav/#{item._id}") 修改
                                td
                                    button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
    .row.text-left
        .col-sm-12
            a.btn.btn-primary(href="/admin/manageNav/add") 添加

block script
    script.
        $('[data-id]').on('click', function () {
            var $this = $(this);
            if (confirm('确认删除？')) {
                $.ajax({
                    type: "DELETE",
                    url: "/admin/manageNav",
                    async: true,
                    dataType: "json",
                    data: {
                        _id: $this.data("id")
                    },
                    success: function (data) {
                        if (!data.resultCode) {
                            alert(data.resultMsg);
                            return false;
                        }
                        $this.parents('tr').remove();
                        console.log(data);
                    }
                });
            }
        });