extends ../../layout/admin

block content
    .row.m_t_20
        .col-sm-12
            .table-responsive
                table.table.table-hover.table-striped
                    thead
                        tr
                            th 选择
                            th 图标
                            th 标题
                            th 显示
                            th 排序
                            th 操作
                    tbody
                        for item in catalogue
                            tr
                                td
                                    input(type="checkbox")
                                td
                                    i(class=item.icon)

                                - var str='';
                                - if (item.level>1)
                                    - for(var i=0;i<item.level;i++)
                                        - str+='&nbsp;&nbsp;&nbsp;&nbsp;'
                                td !{str}
                                    a(href="#{item.link}") ┣ #{item.title}
                                td
                                    if item.isShow
                                        | √
                                    else
                                        | ×
                                td #{item.orderBy}
                                td
                                    a(href="/admin/system/module/add?parent_id=#{item.id}") 添加子级
                                    | &nbsp;&nbsp;&nbsp;&nbsp;
                                    a(href="/admin/system/module/update?id=#{item.id}") 修改
                                    | &nbsp;&nbsp;&nbsp;&nbsp;
                                    a(href="javascript:;",data-id="#{item._id}") 删除

    .row.text-left
        .col-sm-12
            a.btn.btn-primary(href="/admin/system/module/add") 添加
    //.row.text-center
    //    .nav
    //        ul.pagination
    //            li
    //                a(aria-label="Previous",href="#")
    //                    span(aria-hidden="true") &laquo;
    //            li
    //                a(href="#") 1
    //            li
    //                a(href="#") 2
    //            li
    //                a(href="#" aria-label="Next")
    //                    span(aria-hidden="true") &raquo;

block script
    script.
        require(['jquery'], function () {
            $('[data-id]').on('click', function () {
                var $this = $(this);
                if (confirm('确认删除？')) {
                    $.ajax({
                        type: "DELETE",
                        url: "/admin/system/module",
                        async: true,
                        dataType: "json",
                        data: {
                            _id: $this.data("id")
                        },
                        success: function (data) {
                            if (!data.resultCode) {
                                alert(data.resultMsg);
                                return false;
                            }
                            $this.parents('tr').remove();
                            console.log(data);
                        }
                    });
                }
            });
        });